<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/about.css" />
    <title>Latoyaandstyles</title>
    <link rel="icon" href="/images/first.jpeg">
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">
      <!-- Top Nav -->
      <!-- <div class="top-nav">
        <div class="container d-flex">
          <p>Order Online Or Call Us: (001) 2222-55555</p>
          <ul class="d-flex">
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div> -->
      <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="/" class="logo"></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/product" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/cart" class="nav-link">Cart</a>
            </li>
            <li class="icons d-flex">
            <a href="/login" class="icon">
              <i class="bx bx-user"></i>
            </a>
            
           
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
          </ul>

          <div class="icons d-flex">
            <a href="/login" class="icon">
              <i class="bx bx-user"></i>
            </a>
            
            
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>


      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="/images/web_log-removebg-preview.png" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">
            </div>

            <!-- <img src="./assets/images/about-shape-1.svg" width="360" height="420" loading="lazy" alt=""
              class="shape about-shape-1">

            <img src="./assets/images/about-shape-2.svg" width="371" height="220" loading="lazy" alt=""
              class="shape about-shape-2"> -->

            <!-- <img src="./assets/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
              class="shape about-shape-3"> -->

          </figure>

           <div class="about-content">

            <p class="section-subtitle"></p>

            <h2 class="h2-section-title">
              <span class="pan">Latoyaandstyles</span><br><br>
            </h2>

            <p class="section-text">
               Welcome to Latoyaandstyles, where we offer best affordable wears for female gender. Our mission is to bring about creative and crafty wear in our community to bring a linkage to our tradition.

               <br>
                
                Latoyaandstyles was inspired with a passion for Fashion lifestyle and to eradicate wrong dress code and mobilised the future wears. Since then, we have been dedicated to make chnage in the fashion community.
                
               <br>
                
                At Latoyaandstyles, we specialize in female clothing, place order and it delivered with ease, Whether you're looking for luis vuitton, we strive to promote this brand into the general world.
                
                <br>
                
                Integrity, quality, and consistency are at the heart of everything we do. We believe in consistency and intergrity is our key core
            </p>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Consistency</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Assurance</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Affordable pricing</span>
              </li>

            </ul>

            <!-- <img src="/assets/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
              class="shape about-shape-4"> -->

          </div>

        </div>
      </section> 
 
 

     <!-- Footer -->
     <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><a href="https://www.instagram.com/latoyaandstyles?igsh=MWtpMDlnM2xzc2MxMQ%3D%3D&utm_source=qr"><i class='bx bxl-instagram-alt'> </i></a> </span>
          <span>  <a href="https://whatsapp.com/biz/"> <i class='bx bxl-whatsapp' ></i></a></span>
          <span>  <a href="https://ebere.tracy@yahoo.com"> <i class="bx bx-envelope icon'" ></i></a></span>

        </div>
      </div>
    </footer>


  <!-- 
    - custom js link
  -->
  <script src="/js/slider.js"></script>
  <script src="/js/index.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>